body 
{
font-family: "Times New Roman";
font-weight: bold;
color:black;
font-size: 20px;
background-color: rgb(115, 180, 158);
}
h1
{
color:rgb(26, 26, 54);
text-align:center;
font-family: 'Times New Roman';
font-size: 50px;
}
.entête 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.inf 
{
  float: left;
}

.inf a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.inf a:hover {
  background-color: #111;
}
.img_sol
{
background-size:cover;
background-repeat: no-repeat;
}
div
{
border:solid;
border-color: aqua;
}
.container
{
display : flex;
justify-content:space-between;
}
