body 
{
  font-family: 'Times New Roman';
  font-weight: bold;
  color:rgb(36, 25, 49);
  font-size: 20px;
}
.entête 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.inf 
{
  float: left;
  font-weight: bold;
}


.inf a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.inf a:hover {
  background-color: #111;
}
h1    
{
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 50px;
  font-style: italic; 
  color: rgb(0, 255, 221);    
}
.c1      
{  
  font-family: 'Times New Roman';
  color:rgb(22, 29, 28);              
  text-align: center; 
  font-size: 20px;     
}
h2
{
  font-family: 'Times New Roman';
  color: rgb(36, 25, 49);
  text-align: center;
  font-size: 25px;
}
.i1
{
background-image:url(../Images/img_menu.jpg);
background-size: cover;
background-repeat: no-repeat;

}
.a
{
color:rgb(0, 255, 221);
}
.p1
{
text-align: left;
font-family: 'Times New Roman';
color: rgb(36, 25, 49);
font-size: 20px;
}
table, th, td
{
border : 1px solid rgb(22, 29, 28)
}
.center-img 
{
  display: flex;
  justify-content: space-evenly;
}